<html>
<head>
  <meta charset="utf-8">
  <title>Add new Performer to Song</title>
  <style type = "text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
  <h2>Select artist:</h2>
  <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->
  <form method="post" action="/songDetails">
    <div th:each="artist : ${artists}">
      <input type="radio" name="artistId" th:value="${artist.id}" th:text="|${artist.firstName} ${artist.lastName}|">
    </div>
    <br/>
    <input type="text" name="trackId" th:value="${trackId}" hidden/>
    <input type='submit' value='Add artist'>
  </form>

  <a th:href="@{/songs/details(trackId=${trackId})}">Back to Song Details</a>
</section>
<aside>
  <table>
    <tr>
      <!-- change to show selected trackId -->
      <td><b>Track Id</b></td>
      <td th:text="${trackId}"></td>
    </tr>
  </table>
</aside>
</body>
</html>
